<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Lista de Reviews</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <form class="form-signin" method="get" th:action="@{/reviews/lista_reviews}">
                <h2 class="form-signin-heading">Lista de reviews</h2>

                <table name="reviews" id="reviews" multiple>
                    <tr th:each="r: ${reviewList}">
                    <td 
                        th:value="${r.id}" th:text="${r.score}"></td>
                    <td  
                        th:value="${r.id}" th:text="${r.text}"></td>
                        <td 
                        href="actualizar_review">
                            <button type="button" class="url">Editar</button>
                        </td>
                        <td 
                        href="actualizar_tag.html">
                            <button type="button" class="url">Borrar</button>
                        </td>
                    </tr>
                </table>
                
            </form>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>