<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Lista de Mentorias</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <form class="form-signin" method="get" th:action="@{/mentorias/lista_mentorias}">
                

                <table name="mentorias" id="mentorias" multiple>
                    <h2 class="form-signin-heading">Lista de Mentorias</h2>
                    <tr th:each="m: ${mentoringList}">
                        <td>
                            <input type="text" th:value="${m.name}"/>
                        </td> 
                        <td>
                            <input type="text" th:value="${m.classroom}"/>
                        </td>
                        <td> 
                            <input type="text" th:value="${m.date}"/>
                        </td>
                        <td> 
                            <input type="text" th:value="${m.ini}"/>
                        </td>
                        <td> 
                            <input type="text" th:value="${m.fin}"/>
                            <td>
                                <button type="button" th:attr="data-id=${m.id}" class="url mv">Edit</button>
                                <button type="button" th:attr="data-id=${m.id}" class="url rm">Borrar</button>

                            </td>
                            <td>
                    <form th:action="@{/chat}" method="get">
                        <button type="submit" class="btn btn-outline-secondary btn-sm">Chat</button>
                    </form>
                </td>
                    </tr>
                </table>
                
            </form>
        </div>
    </main>
    <th:block th:replace="fragments/footer.html :: footer" />
    <script>
        document.querySelectorAll(".mv").forEach(b => b.addEventListener("click", e => {
            const id = e.target.dataset.id;
            const row = e.target.parentNode.parentNode;
            const name = row.children[0].children[0].value;
            const aula = row.children[1].children[0].value;
            const date = row.children[2].children[0].value;
            const ini = row.children[3].children[0].value;
            const fin = row.children[4].children[0].value;
            const datos = {id, name, classroom, date, ini, fin};
            go("/mentoring/actualizar_mentorias", "POST", datos).then(d => console.log("todo bien"));
        }));
    </script>
    <script>
        document.querySelectorAll(".rm").forEach(b => b.addEventListener("click", e => {
            const id = e.target.dataset.id;
            const datos = {id};
            const row = e.target.parentNode.parentNode;
            go("/mentoring/borrar_mentorias", "POST", datos).then(d => row.remove());
        }));
    </script>
</body>

</html>