<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Lista de Mentorias</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <form class="form-signin" method="get" th:action="@{/mentorias/lista_mentorias}">
                

                <table name="mentorias" id="mentorias" multiple>
                    <h2 class="form-signin-heading">Lista de Mentorias</h2>
                    <tr th:each="m: ${mentoringList}">
                        <td>
                            <input type="text" th:value="${m.name}" readonly/>
                        </td> 
                        <td>
                            <input type="text" th:value="${m.classroom}" readonly/>
                        </td>
                        <td> 
                            <input type="text" th:value="${m.date}" readonly/>
                        </td>
                        <td> 
                            <input type="text" th:value="${m.ini}" readonly/>
                        </td>
                        <td> 
                            <input type="text" th:value="${m.fin}" readonly/>
                            <td>
                                <button type="button" th:attr="data-id=${m.id}" class="url mv">Edit</button>
                                <button type="button" th:attr="data-id=${m.id}" class="url rm">Borrar</button>
                                <th:block th:if="${mentoringListNotJoined.contains(m)}">
                                    <button type="button" th:attr="data-id=${m.id}" class="url join">Unirme</button>
                                </th:block>
                            </td>
                            <td>
                    <form th:action="@{/chat}" method="get">
                        <button type="button" th:attr="data-id=${m.id}" class="url ch">Chat</button>
                    </form>
                </td>
                    </tr>
                </table>
                
            </form>
        </div>
    </main>
    <th:block th:replace="fragments/footer.html :: footer" />

    <script>
        document.querySelectorAll(".ch").forEach(b => b.addEventListener("click", e => {
            const id = e.target.dataset.id;
            const datos = {id};
            go("/chat", "GET", datos).then(d => console.log("todo bien"));
        }));
    </script>
        
    <script>
        document.querySelectorAll(".mv").forEach(b => b.addEventListener("click", e => {
            const id = e.target.dataset.id;
            const row = e.target.parentNode.parentNode;
            const name = row.children[0].children[0].value;
            const aula = row.children[1].children[0].value;
            const date = row.children[2].children[0].value;
            const ini = row.children[3].children[0].value;
            const fin = row.children[4].children[0].value;
            const datos = {id, name, classroom, date, ini, fin};
            go("/mentorias/actualizar_mentorias", "POST", datos).then(d => console.log("todo bien"));
        }));
    </script>
    <script>
        document.querySelectorAll(".rm").forEach(b => b.addEventListener("click", e => {
            const id = e.target.dataset.id;
            const datos = {id};
            const row = e.target.parentNode.parentNode;
            go("/mentorias/borrar_mentorias", "POST", datos).then(d => row.remove());
        }));
    </script>
    <script>
        document.querySelectorAll(".join").forEach(b => b.addEventListener("click", e => {
            const id = e.target.dataset.id;
            const datos = {id};
            const row = e.target.parentNode.parentNode;
            const button = row.children[5].children[2];
            go("/mentorias/unirse_mentorias", "POST", datos).then(d => button.remove());
        }));
    </script>
</body>

</html>