<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Borrar Tag</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <form class="form-signin" method="post" th:action="@{/tag/borrarTag}">
                <h2 class="form-signin-heading">Borrar tag</h2>
                <p>
                    <label for="id" class="visually-hidden">id</label>
                    <input type="text" id="id" name="id" class="form-control" placeholder="id" required="required">

                </p>
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">submit</button>
            </form>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>