<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Lista de Tags</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <form class="form-signin" method="get" th:action="@{/tags/lista_tags}">
                <h2 class="form-signin-heading">Lista de tags</h2>

                <table name="tags" id="tags" multiple>
                    <tr th:each="t: ${tagList}">
                    <td>
                        <input type="text" th:value="${t.name}"/>
                    </td> 
                    <td>
                        <input type="text" th:value="${t.description}"/>
                    </td>
                    <td>
                        <button type="button" th:attr="data-id=${t.id}" class="url mv">Edit</button>
                        <button type="button" th:attr="data-id=${t.id}" class="url rm">Borrar</button>
                    </td>
                    </tr>
                </table>
                
            </form>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script>
        document.querySelectorAll(".mv").forEach(b => b.addEventListener("click", e => {
            const id = e.target.dataset.id;
            const row = e.target.parentNode.parentNode;
            const name = row.children[0].children[0].value;
            const description = row.children[1].children[0].value;
            const datos = {id, name, description};
            go("/tags/actualizar_tag", "POST", datos).then(d => console.log("todo bien"));
        }));
    </script>
    <script>
        document.querySelectorAll(".rm").forEach(b => b.addEventListener("click", e => {
            const id = e.target.dataset.id;
            const datos = {id};
            const row = e.target.parentNode.parentNode;
            go("/tags/borrar_tag", "POST", datos).then(d => row.remove());
        }));
    </script>
</body>

</html>