<!DOCTYPE html>
<html>
    <head>
        <th:block th:replace="fragments/head :: header" />
        <title>Comentarios</title>
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    </head>
    <body>
        <header th:replace="fragments/nav.html :: nav"></header>
        <h1>**ON DEVELOPMENT**</h1>

        <div class="boxes_container">
            <div class="boxes_list">
                <div class="comment_structure">             
                    <div class="box">
                        <div class="tema">Busco interesados en Informática Web</div>
                            <div class="info">
                                <div class="autor_fecha"> <a class="autor">Pepito Pérez</a>(06/04/2022) 17:50</div>   
                                    <div class="tags">
                                        <div class="tag_element"><a href="">tag3</a></div>
                                        <div class="tag_element"><a href="">tag2</a></div>
                                        <div class="tag_element"><a href="">tag1</a></div>
                                    </div>  
                            </div>
                        </div>
                    <section class="sectionToggle">
                        <h1>EXAMPLE</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo aliquam cumque nostrum maxime sunt doloremque? Vel magni numquam fuga veritatis pariatur sed beatae voluptatum fugiat. Ducimus illo nisi omnis expedita?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minima tempore consectetur, quos aliquam earum praesentium esse vitae quam dolorum, officiis placeat architecto in impedit commodi nam, dolor eius dolorem.</p>
                    </section>
                </div>
                <div class="comment_structure">             
                    <div class="box">
                        <div class="tema">Busco interesados en Informática Web</div>
                            <div class="info">
                                <div class="autor_fecha"> <a class="autor">Pepito Pérez</a>(06/04/2022) 17:50</div>   
                                    <div class="tags">
                                        <div class="tag_element"><a href="">tag3</a></div>
                                        <div class="tag_element"><a href="">tag2</a></div>
                                        <div class="tag_element"><a href="">tag1</a></div>
                                    </div>  
                            </div>
                        </div>
                    <section class="sectionToggle">
                        <h1>EXAMPLE</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo aliquam cumque nostrum maxime sunt doloremque? Vel magni numquam fuga veritatis pariatur sed beatae voluptatum fugiat. Ducimus illo nisi omnis expedita?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minima tempore consectetur, quos aliquam earum praesentium esse vitae quam dolorum, officiis placeat architecto in impedit commodi nam, dolor eius dolorem.</p>
                    </section>
                </div>
                <div class="comment_structure">             
                    <div class="box">
                        <div class="tema">Busco interesados en Informática Web</div>
                            <div class="info">
                                <div class="autor_fecha"> <a class="autor">Pepito Pérez</a>(06/04/2022) 17:50</div>   
                                    <div class="tags">
                                        <div class="tag_element"><a href="">tag3</a></div>
                                        <div class="tag_element"><a href="">tag2</a></div>
                                        <div class="tag_element"><a href="">tag1</a></div>
                                    </div>  
                            </div>
                        </div>
                    <section class="sectionToggle">
                        <h1>EXAMPLE</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo aliquam cumque nostrum maxime sunt doloremque? Vel magni numquam fuga veritatis pariatur sed beatae voluptatum fugiat. Ducimus illo nisi omnis expedita?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minima tempore consectetur, quos aliquam earum praesentium esse vitae quam dolorum, officiis placeat architecto in impedit commodi nam, dolor eius dolorem.</p>
                    </section>
                </div>                                
            </div>
        </div>
        <script src="../../js/foro.js"></script>
    </body>
</html>