<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Añadir asesor</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <form class="form-signin" method="post" th:action="@{/asesores/annadir_asesor}">
                <h2 class="form-signin-heading">Por favor introduce los datos</h2>
                <p>
                    <label for="nombre" class="visually-hidden">nombre</label>
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required="required">
                </p>
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">Añadir</button>
            </form>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>