<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Lista de Mentorias</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <form class="form-signin" method="get" th:action="@{/mediciones/listar_mediciones}">
                

                <table name="mediciones" id="mediciones" multiple>
                    <h2 class="form-signin-heading">Lista de Mediciones</h2>
                    <tr th:each="m: ${medicionesList}">
                        <td>
                            <input type="text" th:value="${m.numero}"/>
                        </td> 
                        <td>
                            <input type="text" th:value="${m.fecha}"/>
                        </td>
                        <td> 
                            <input type="text" th:value="${m.creador}"/>
                        </td>
                        <td> 
                            <input type="text" th:value="${m.tipo}"/>
                        </td>
                    <form th:action="@{/chat}" method="get">
                        <button type="button" th:attr="data-id=${m.id}" class="url ch">Chat</button>
                    </form>
                </td>
                    </tr>
                </table>
                
            </form>
        </div>
    </main>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>