.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: grey;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

/*Index*/
h1  {
    text-align: center;
    padding-top: 100px;
}

.sesionButton {

    color: rgb(255, 255, 255); font-size: 20px; line-height: 20px; padding: 16px; border-radius: 5px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .sesionButton:hover {
    background: #1C6EA4; }
    .sesionButton:active {
    background: #144E75; }

.tBotones{
    width: 20%;
    margin-top: 25px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.cBotones{
    width: 50%;;
    text-align: center;
}
/*Ver comments*/
.boxes_container{
    width: 60%;
    margin-left: 10%;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #000000;  
}
.boxes_list{
    list-style: none;
    text-align: center;
}

.box{/*Box*/
    border-width: 1px 0px 0px 0px;
    border-style: dashed;
    border-color: #1C6EA4;
}

.box:hover{
    background-color: #9eceee;
}

.tema{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
}
.info{
    overflow: hidden;
}
.autor_fecha{
    font-size: 14px;
    text-align: left;
    margin-left: 6%;
    float: left;
}
.autor{
    font-size: 18px;
    margin-right: 10px;
}
.autor:hover{
    cursor: pointer;
}
.tags {
    
    margin-right: 5px;
    float: right;
}
.tag_element{   
    border-width: 5px;
    border-style:groove;
    border-color: rgba(28,110,164,0.5);
    border-radius: 10px;
    width: fit-content;
    float: right;
    margin-left: 5px;
}
.tag_element:hover{  
    background-color: cyan;
}
/*Section toggle*/

.sectionToggle{
    display: none;
    max-width: 90%;
    margin: auto;
}