<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<body>
    
    <div class="contenedor">

        <div class="header">

            <div class="headerTop">

                <div class="divBotones">

                    <button class="btn btn-lg btn-primary btn-block">
                        CHAT
                    </button>

                    <button class="btn btn-lg btn-primary btn-block">
                        USUARIO
                    </button>

                    <button class="btn btn-lg btn-primary btn-block">
                        MENTORIAS
                    </button>

                </div>
            </div>

        </div>

    </div>

</body>