<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Singup</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <form class="form-signin" method="post" th:action="@{/crear_cuenta}">
                <h2 class="form-signin-heading">Por favor introduce los datos</h2>
                <p>
                    <label for="username" class="visually-hidden">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required="required">
                </p>
                <p>
                    <label for="password" class="visually-hidden">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required="required">
                </p>
                <!--<p>
                    <label for="password" class="visually-hidden">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Repetir contraseña" required="required">
                </p>-->
                <p>
                    <label for="password" class="visually-hidden">First name</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" placeholder="first name" required="required">
                </p>
                <p>
                    <label for="password" class="visually-hidden">Second name</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" placeholder="second name" required="required">
                </p>
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">Crear cuenta</button>
                <a href="login">
                    <button type="button" class="url">iniciar sesión</button>
                </a>
            </form>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>