<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Crear Mentoria</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <form class="form-signin" method="post" th:action="@{/user/crearComment}">
                <h2 class="form-signin-heading">crea el comentario</h2>
                
                <label for="cars">Choose a Tag:</label>
                <!--<select name="cars" id="cars" multiple>
                    <option th:each="t: ${tagList}" 
                        th:value="${t.id}" th:text="${t.name}"></option>
                </select>-->
                <tr th:each="t : ${tagList}">
                    <td><span th:text="${t.id}"> Title </span></td>
                </tr>
                <p>
                    <label for="classroom" class="visually-hidden">classroom</label>
                    <input type="text" id="classroom" name="classroom" class="form-control" placeholder="Classroom" required="required">
                </p>
                <p>
                    <label for="mentoring" class="visually-hidden">name</label>
                    <input type="text" id="mentoring" name="mentoring" class="form-control" placeholder="Mentoring name" required="required">
                </p>
                <p>
                    <label for="date" class="visually-hidden">date</label>
                    <input type="date" id="date" name="mentoring" class="form-control" placeholder="Date" required="required">
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">submit</button>