<!DOCTYPE html>
<html>
    <head>
        <th:block th:replace="fragments/head :: header" />
    </head>
    <body>
        <h1 class="titulo">Bienvenid@ a Cementor</h1>

        <table class="tBotones">
            <tbody>
            <tr>
            <td class="cBotones">
                <a href="login.html">
                    <button type="button" class="sesionButton">Crear cuenta</button>
                </a>
            </td>
            <td class="cBotones">
                <a href="login.html">
                    <button type="button" class="sesionButton">Iniciar sesión</button>
                </a>
            </td>
            </tr>
            </tbody>
    </body>
</html>