<h1>INICIO</h1>

<p>Se muestran las asignaturas registradas en los perfiles logueados de los alumnos, además de tener la posibilidad de agregar nuevas a nuestro registro.<br> 
  Arriba hay un indicador de notificaciones en el que se muestra las mentorías realizadas que necesitan un “feedback”. Luego se muestra un calendario con <br>
  las mentorías a las que estamos registrados y un botón para acceder a nuestro perfil. Las checkbox indican si estamos registrados en alguna mentoría relacionada <br>
  con esa aplicación. Además se nos muestra si tenemos algún mensaje de una asignatura determinada.</p>
