<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>MEDICIONES</title>
</head>

<body class="d-flex flex-column h-100">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name"/>
          <select type="text" id="mySelectAsesor" onchange="myFunctionSelectAsesor()">
            <option value="-10" text="----"></option>
            <tr th:each="m: ${asesorList}">
              <td>
                  <option th:value="${m.nombre}" th:text="${m.nombre}"> </option>
              </td> 
            </tr>
          </select>
          <ul id="myUL" class="listaMediciones">
            <tr th:each="m: ${medicionesList}">
              <li class="lineaMediciones">
                <td>
                    <input id="numeroPedido" type="text" th:value="${m.numero}" readonly/>
                </td> 
                <td>
                    <input type="text" th:value="${m.creador.nombre}" readonly/>
                </td>
                <td> 
                    <input type="text" th:value="${m.fecha}" readonly/>
                </td>
                <td> 
                  <input type="text" th:value="${m.tipo}" readonly/>
                </td>
                <th:block th:if="${m.recibida == true}">
                  <td>
                    <form class="pruebaForm" th:action="@{/mediciones/cambio_recibida}" method="post">
                      <input type="hidden" id="idCambio" name="idCambio" th:value= "${m.id}"/> 
                      <button class="botonRecibidaYes btnMedicion">Recibida</button>
                    </form>
                  </td>
                </th:block>
                <th:block th:if="${m.recibida != true}">
                  <td> 
                    <form class="pruebaForm" th:action="@{/mediciones/cambio_recibida}" method="post">
                      <input type="hidden" id="idCambio" name="idCambio" th:value= "${m.id}"/> 
                      <button class="botonRecibidaNo btnMedicion">No recibida</button>
                    </form>
                  </td>
                </th:block>
                <th:block th:if="${m.llamada == true}">
                  <td>
                    <form class="pruebaForm" th:action="@{/mediciones/cambio_llamada}" method="post">
                      <input type="hidden" id="idCambio" name="idCambio" th:value= "${m.id}"/> 
                      <button class="botonRecibidaYes btnMedicion">Llamada</button>
                    </form>
                  </td>
                </th:block>
                <th:block th:if="${m.llamada != true}">
                  <td>
                    <form class="pruebaForm" th:action="@{/mediciones/cambio_llamada}" method="post">
                      <input type="hidden" id="idCambio" name="idCambio" th:value= "${m.id}"/>  
                      <button class="botonRecibidaNo btnMedicion">No llamada</button>
                    </form>
                  </td>
                </th:block>
                <th:block th:if="${m.atendida == true}">
                  <td>
                    <form class="pruebaForm" th:action="@{/mediciones/cambio_gestionada}" method="post">
                      <input type="hidden" id="idCambio" name="idCambio" th:value= "${m.id}"/>  
                      <button class="botonRecibidaYes btnMedicion">Gestionada</button>
                    </form>
                  </td>
                </th:block>
                <th:block th:if="${m.atendida != true}">
                  <td>
                    <form class="pruebaForm" th:action="@{/mediciones/cambio_gestionada}" method="post">
                      <input type="hidden" id="idCambio" name="idCambio" th:value= "${m.id}"/>  
                      <button class="botonRecibidaNo btnMedicion">No gestionada</button>
                    </form>
                  </td>
                </th:block>
                <td>
                  <form class="pruebaForm" th:action="@{/mediciones/eliminar_medicion}" method="post">
                    <input type="hidden" id="idCambio" name="idCambio" th:value= "${m.id}"/>  
                    <button class="btnDeleteMedicion"><img class="imagenDelete" src="img/delete.ico" alt="">Eliminar</button>
                  </form>
                </td>
              </li>
            </tr>
          </ul>
          <script>
            function myFunction() {
                var input, filter, ul, li, a, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                ul = document.getElementById("myUL");
                li = ul.getElementsByTagName("li");
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("input")[0];
                    txtValue = a.value;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }
            </script>
            <script>
              function myFunctionSelectAsesor() {
                  var input, filter, ul, li, a, i, txtValue;
                  input = document.getElementById("mySelectAsesor");
                  filter = input.value.toUpperCase();
                  ul = document.getElementById("myUL");
                  li = ul.getElementsByTagName("li");
                  for (i = 0; i < li.length; i++) {
                      a = li[i].getElementsByTagName("input")[1];
                      txtValue = a.value;
                      if (filter.toUpperCase()==="-10") {
                          li[i].style.display = "";
                      }
                      else if (txtValue.toUpperCase().indexOf(filter) > -1) {
                          li[i].style.display = "";
                      } else {
                          li[i].style.display = "none";
                      }
                  }
              }
              </script>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>