<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Lista de Mentorias</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
      <div class="container">
              <table name="mentorias" id="mentorias" multiple>
                  <h2 class="form-signin-heading">Lista de Mentorias</h2>
                  <tr th:each="m: ${listaMentoriasAlumno}">
                      <td>
                          <input type="text" th:value="${m.name}"/>
                      </td> 
                      <td>
                          <input type="text" th:value="${m.classroom}"/>
                      </td>
                      <td> 
                          <input type="text" th:value="${m.date}"/>
                      </td>
                      <td> 
                          <input type="text" th:value="${m.ini}"/>
                      </td>
                      <td> 
                          <input type="text" th:value="${m.fin}"/>
                      </td>
                  </tr>
              </table>
      </div>
  </main>
</body>

</html>